# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.dll
settings.wrench
agent.nut
device.nut

# Folders #
###########
_obj
_test
squirrel/SQUIRREL3

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

.build_api_key
